/*  Estilos de línea,       ID(#),      Clases(.),      Elementos   | Representación */
/* --------------------------------------------------------------------------------- */
#caja h1 {color: yellow;}
/*  0,                      1,          0,              1           |                */
/* --------------------------------------------------------------------------------- */
#caja header h1 {color: blue;}
/*  0,                      1,          0,              2           |                */
/* --------------------------------------------------------------------------------- */
#caja .cabecera h1 {color: orange;}
/*  0,                      1,          1,              1           |       X        */
/* --------------------------------------------------------------------------------- */
header h1 {color: purple;}
/*  0,                      0,          0,              2           |                */
/* --------------------------------------------------------------------------------- */
h1 {color: red;}
/*  0,                      0,          0,              1           |                */